
@font-face {
  font-family: 'Circular Std';
  src: url('/fonts/CircularStd-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('/fonts/CircularStd-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('/fonts/CircularStd-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Circular Std", "Noto Sans KR";
  letter-spacing: -0.05rem;
}

html {
  font-size: 62.5%;

  body {
    overflow-x: hidden;

    .app-container{
      &.up {
        .top_banner {
          transform: translateY(-110%);
        }
        header {
          top: 0;
        }
      }
    }
  }
  section {
    position: relative;
    z-index: 0;
    overflow: hidden;
    padding: 13rem 0;
  }
  .inner {
    position: relative;
    max-width: 144rem;
    margin: auto;
    z-index: 0;
    height: 100%;
    display: flex;
  }
  &::-webkit-scrollbar {
    width: 5px;
    height: 3px;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    background: #DC272D;
    border-radius: 50px;
  }

  &::-webkit-scrollbar-track {
    background-color: #E7E7E7;
  }

  ul,
  ol,
  dl {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: #000;
  }

  img {
    max-width: 100%;
  }

  .con_tit {
    font-size: 6.6rem;
    margin: 3rem 0 2rem;
    letter-spacing: 0;
    font-weight: 400;

    &.large {
      font-size: 7.3rem;
      line-height: 8.5rem;
    }
  }

  .txt {
    font-size: 2.1rem;
    line-height: 2.6rem;
    color: #202020;

    &.l_txt {
      font-size: 2.1rem;
    }
  }

  .txt_1 {
    font-family: 'Source Serif Pro', serif;
    font-size: 1.5rem;
    color: #009BDE;
    line-height: 1;
  }

  .txt_2 {
    font-size: 1.9rem;
    color: #009BDE;
    letter-spacing: 0;
  }

  .txt_3 {
    font-size: 2rem;
    color: #231F20;
    font-weight: 500;
  }

  .txt_4 {
    font-size: 1.5rem;
    color: #6f6f6f;
    margin: 2rem 0 3rem;
  }

  .txt_5 {
    font-family: 'Source Serif Pro', serif;
    font-size: 1.5rem;
    color: #231F20;
    font-style: italic;
  }

  .con_btn {
    position: relative;
    display: inline-block;
    margin-top: 3rem;
    font-size: 2rem;
    color: #000000;
    letter-spacing: 0;
    overflow: hidden;
    border-bottom: .1rem solid #DC272D;
    transition: all .8s;
    text-transform: uppercase;
    &.blue {

      &:hover {
      }
    }
    &::after {
      display: block;
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      transition: all .5s;
    }

    &:hover {
      border-color: #ffffff;
      transform: scale(1.2);

    }

  }
}